body {
    font-family: sans-serif;
    /*    color: white;*/
    /*        background: url(img/b6.png);*/
}

.navbar-inverse {
    background: #343a40;
    border-radius: 0;
    margin-bottom: 0;
}

.thumbnail img {
    height: 200px;
}

.navbar-inverse .navbar-nav>li>a {
    color: white;
}

.navbar-inverse .navbar-brand {
    color: white;
}

.about {
    color: black;
    background: #efefef;
    padding: 50px 0;
    text-align: center;
}

p {
    font-size: 17px;
}

h2 {
    text-align: center;
}

h3 {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.tab {
    font-size: 30px;
    padding-bottom: 20px;
    margin-top: 10px;
}

.tab ul {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
    color: #bbb;
}

.tab ul li {
    width: 50%;
    display: block;
    float: left;
    height: 100%;
    display: inline-block;
    padding: 10px 25px;
    font-weight: 600;
    text-align: center;
}

.tab ul li:hover {
    color: #888;
}

.activeTab {
    color: #555;
    border-top: 3px solid orange;
    border-bottom: 3px solid orange;
}

/*  ==========    */

input {
    display: none;
}

label {
    display: inline-block;
    margin: 0 0 -1px;
    padding: 15px 25px;
    font-weight: 600;
    text-align: center;
    color: #bbb;
    border: 11px solid transparent;
}

label:hover {
    color: #888;
    cursor: pointer;
}

input:checked+label {
    color: #555;
    border: 1px solid #ddd;
    border-top: 3px solid orange;
    border-bottom: 1px solid #fff;
}

#tab1:checked~#content1,
#tab2:checked~#content2 {
    display: block;
}

img {
    width: 300px;
    display: block;
    margin: 0 auto;
    border-radius: 40px;
}

hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.work .row:nth-of-type(even) {
    padding-left: 150px;
}

.work .row {
    border-top: 1px solid grey;
    padding-top: 15px;
    margin-top: 20px;
}

.tech {
    color: white;
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: bold;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    text-shadow: 1px 1px 4px black;
}

.html {
    background-color: #f16529;
}

.css {
    background: #28aae1;
}

.bootstrap {
    background: #4f2369;
}

.js {
    background: #f9db3d;
    padding: .2em 1.2em .3em;
}

.jquery {
    background: #0868ab;
}

.dataExample {
    font-family: "Courier New";
    padding: 5px;
    margin-bottom: 5px;
}

.dataExample p {
    margin-bottom: 0;
    font-size: 14px;
}

.footer {
    color: black;
    background: #efefef;
    padding: 50px 0;
    text-align: center;
}

.footer p {
    text-align: center;
}

.container-fluid .footer {
    padding: 0;
}

.footer a {
    font-size: 19px;
}

/*  Recreating  */

#recreating img {
    width: 70%;
    margin: 0 auto;
    border-radius: 0;
}
#recreating a {
    
}
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {
    opacity: 0.7;
}

/* Small Devices, Tablets */

@media only screen and (max-width: 1200px) {
    .work .row:nth-of-type(even) {
        padding-left: 90px;
    }
    /*
    .work .row:nth-of-type(even) {
    padding-left: 150px;
*/
}

@media only screen and (max-width: 992px) {
    .work .row:nth-of-type(even) {
        padding-left: 40px;
    }
}

@media only screen and (max-width: 768px) {
    h3 {
        text-align: center;
    }
    .technologies-used {
        text-align: center;
    }
    .work .row:nth-of-type(even) {
        padding-left: 0;
    }
    .tab ul li {
        width: 100%;
        text-align: center;
        float: none;
    }
}

.tr {
    height: 20px;
    overflow: hidden;
    padding-top: 20px;
}

.tr img {
    border-radius: 0;
    width: auto;
}

#recreating .row {
    padding: 0 0;
    margin-bottom: 20px;
    margin-top: 40px;
}

#recreating h3 {
    color: #337ab7;
}

#recreating img.gif {
    width: 100%;
    max-width: 461px;
}

#recreating img.gif:hover {
    cursor: pointer;
    opacity: 0.8;
}

img.fullImgHidden {
    display: none;
}

.myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.myImg:hover {
    opacity: 0.7;
}

/* H4 */
h4:hover{
    cursor: pointer;
    color: #337ab7;
}

/* ---------------------------------------- */

/* -------- The Modal (background) -------- */

/* ---------------------------------------- */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /*    max-width: 1300px;*/
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    /*    background-color: rgba(0, 0, 0, 0.9);*/
    background: rgba(0, 0, 0, 0.5)
    /* Black w/ opacity */
}

containerModal {
    max-width: 1300px;
}

/* Modal Content (image) */

.modal-content {
    margin: auto;
    display: block;
    width: auto;
    max-width: 100%;
}

img {
    /*    min-height: 150px;*/
}

/* Caption of Modal Image */

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #fff;
    text-shadow: 2px 2px 4px #000;
    padding: 10px 0;
    /*    height: 150px;*/
}

/* Add Animation */

.modal-content,
#caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

/* The Close caption */

.closeCaption {
    color: #fff;
    font-size: 17px;
    position: absolute;
    top: 30px;
    right: 80px;
}

/* The Close Button */

.close {
    position: fixed;
    top: 15px;
    right: 35px;
    font-size: 58px;
    font-weight: bold;
    color: #fff;
    transition: 0.3s;
    text-shadow: 2px 2px 4px #000;
    opacity: 1;
    z-index: 5;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */

@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}
/* =========== Modal =========== */
