* {
  box-sizing: border-box;
}

@font-face {
  font-family: DINProBold;
  src: url('../font/DINPro-Bold.ttf');
}

@font-face {
  font-family: DINProMed;
  src: url('../font/DINPro-Medium.ttf');
}

body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  position: relative;
}

.container {
  max-width: 1170px;
  margin: auto;
}

$white: #ffffff;
$navBorderBottom: #c0c0c1;
$textColor: #717274;
$navColor: #3a2020;
$shopCart: #717274;
$shopBackground: #f6f6f6;
$slideH2Color: #f6303e;
$white: #fff;
$activeBullet: #d60202;
$paragraphAllProducts:$activeBullet;
$paragraphProDescr: #8da5ba;
$Bullet: #999999;
$h3Color: #202945;
$h4Color: #212121;
$productMore: #f6303e;
$productNameHover: #dc2f2f;
$formBorder: #b0bec1;
$formSubmit: #f6303e;
$footerRights: #ca1919;
$footerCompany: #3f5b69;
.lineBackground {
  background-image: url("../img/header/lineBackground.png");
  background-position: calc(50% + 200px) -250px;
  background-repeat: no-repeat;
  background-size: auto;
}

header {
  .container {
    padding: 0 15px;
    padding-top: 14px;
    display: flex;
    justify-content: space-between;
    aside {
      color: $textColor;
      .user {
        text-align: right;
        font-family: 'Segoe UI', sans-serif;
        .search {
          position: relative;
          display: inline-block;
          &:hover {
            input[type="search"] {
              visibility: unset;
            }
          }
          input {
            &[type="submit"] {
              width: 20px;
              height: 20px;
              border: none;
              background: none;
              background-image: url("../img/header/magnifyingGlass.png");
              background-size: contain;
              outline: none;
              cursor: pointer;
              position: absolute;
              right: 10px;
              top: 2px;
            }
            &[type="search"] {
              max-width: 150px;
              padding-right: 30px;
              outline: none;
              visibility: hidden;
              &:focus {
                visibility: unset;
              }
            }
          }
        }
        select {
          color: $textColor;
          width: 126px;
          outline: none;
          -moz-appearance: none;
          -webkit-appearance: none;
          border: 0;
          border-bottom: 1px solid $navBorderBottom;
          border-style: dashed;
          background: transparent url("../img/header/arrowDown.png") no-repeat;
          background-position: right center;
        }
        .language {
          width: 40px;
          border: none;
        }
        .cabinet {
          display: inline-block;
          margin: 0;
        }
        .search,
        .phone,
        .cabinet,
        .lang {
          margin-left: 16px;
        }
      }
      nav {
        padding-top: 16px;
        overflow: hidden;
        font-family: DINProMed, 'Segoe UI', sans-serif;
        font-weight: 100;
        a {
          float: left;
          font-size: 13px;
          color: white;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
        }
        .dropdown {
          float: left;
          overflow: hidden;
          margin-right: 32px;
          &:hover {
            .dropdown-content {
              display: block;
            }
          }
          .dropbtn {
            font-size: 16px;
            border: none;
            outline: none;
            color: $navColor;
            padding: 14px 0px;
            background-color: inherit;
            font-family: inherit;
            margin: 0;
            text-transform: uppercase;
            font-size: 14px;
            letter-spacing: 0.025em;
            img {
              position: relative;
              bottom: 3px;
            }
          }
          .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 3;
            a {
              float: none;
              color: black;
              padding: 12px 16px;
              text-decoration: none;
              display: block;
              text-align: left;
              &:hover {
                background-color: #ddd;
              }
            }
          }
        }
        .shopCart {
          width: 95px;
          height: 36px;
          float: left;
          padding-left: 15px;
          background: $shopBackground;
          position: relative;
          top: 6px;
          img {
            margin-right: 5px;
          }
          p {
            margin: 0;
            line-height: 36px;
            font-family: 'Segoe UI', sans-serif;
            font-size: 12px;
            color: $shopCart;
          }
        }
      }
    }
  }
}

.inlineBlock {
  display: inline-block;
}

.slider {
  padding: 0 15px;
  cursor: pointer;
  .swiper-container {
    width: 100%;
    height: 600px;
    .swiper-pagination {
      .swiper-pagination-bullet {
        width: 20px;
        height: 2px;
        border-radius: unset;
        opacity: unset;
        margin: 20px 0;
        background: $Bullet;
      }
      .swiper-pagination-bullet-active {
        width: 40px;
        height: 3px;
        position: relative;
        right: 20px;
        background: $activeBullet;
      }
    }
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    &:nth-child(even) {
      .product {
        margin-left: 0;
        .productImg {
          order: 1;
        }
        .productDescription {
          margin-right: 70px;
          order: 2;
        }
      }
    }
    .product {
      margin-left: 15%;
      padding-top: 110px;
      max-width: 885px;
      display: flex;
      .productImg {
        flex: 1;
      }
      img {
        max-width: 100%;
      }
    }
    .productDescription {
      padding-top: 28px;
      width: 43%;
      letter-spacing: 0.02em;
      text-align: left;
      h2 {
        font-size: 36px;
        margin-bottom: 23px;
        font-family: DINProBold;
        color: $slideH2Color;
        text-transform: uppercase;
      }
      p {
        font-size: 14px;
        line-height: 26px;
        margin-bottom: 55px;
      }
      button {
        width: 180px;
        height: 60px;
        background: linear-gradient(45deg, #1b1b1b, #453f3f);
        border: none;
        font-size: 14px;
        color: $white;
        letter-spacing: 0.020em;
        text-transform: uppercase;
        outline: none;
        transition: 0.3s;
        &:hover {
          box-shadow: 5px 5px #1c6613, -5px -5px #3bc42b;
        }
      }
    }
  }
}

.allProducts {
  text-align: center;
  margin-top: 65px;
  h3 {
    font-family: DINProBold;
    font-size: 30px;
    color: $h3Color;
    text-transform: uppercase;
    margin-bottom: 0;
  }
  p {
    font-size: 14px;
    color: $paragraphAllProducts;
    margin-top: 8px;
  }
}

.productList {
  padding-top: 36px;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  .productItem {
    flex: 0 0 255px;
    margin: 0 15px;
    .productImage {
      height: 315px;
      position: relative;
      overflow: hidden;
      &:hover {
        // Make extra information appear for each offerItem when hovered
        .productMore {
          transition: height 0.3s;
          height: 315px;
        }
        img {
          transition: 1s;
        }
      }
      .sale {
        text-transform: uppercase;
        color: $productMore;
        font-size: 10px;
        padding: 0 6px;
        visibility: hidden;
        font-family: 'Segoe UI', Verdana, sans-serif;
        border: 1px solid $productMore;
        display: inline-block;
        position: absolute;
        right: 280px;
        margin-right: 15px;
        margin-top: 15px;
        z-index: 1;
        transition: 1.5s;
        transition-delay: 0.8s;
      }
      .saleToRight {
        right: 0;
        visibility: unset;
      }
      .productMore {
        height: 0px;
        width: 255px;
        transition: height 0.3s;
        background: rgba(33, 33, 33, 0.9);
        position: absolute;
        bottom: 0;
        overflow: hidden;
        button {
          display: block;
          width: 160px;
          height: 48px;
          margin: auto;
          border: 1px solid $white;
          font-size: 14px;
          text-transform: uppercase;
          outline: none;
          background: none;
          color: $white;
          margin-bottom: 19px;
          transition: 0.3s;
          &:hover {
            background: $productMore;
            border-color: $productMore;
            cursor: pointer;
            .top {
              opacity: 0;
            }
          }
          .imgOnTop {
            position: relative;
            margin: 0 auto;
            margin-right: 5px;
            img {
              position: absolute;
              right: 0;
              -webkit-transition: opacity 0.3s ease-in-out;
              -moz-transition: opacity 0.3s ease-in-out;
              -o-transition: opacity 0.3s ease-in-out;
              transition: opacity 0.3s ease-in-out;
            }
          }
          span {
            display: inline;
          }
          img {
            padding: 0;
            display: inline;
          }
        }
        .toCart {
          margin-top: 80px;
        }
        .oldPrice,
        .newPrice {
          padding-left: 15px;
        }
        .details {
          margin-bottom: 50px;
        }
        .oldPrice {
          margin: 0;
          margin-bottom: 3px;
          font-size: 16px;
          font-family: DINProMed;
          color: $productMore;
          text-decoration: line-through;
        }
        .newPrice {
          font-size: 20px;
          margin: 0;
          font-family: DINProMed;
          color: $white;
        }
      }
      img {
        padding-top: 40px;
        display: block;
        margin: auto;
        transition: 1s;
      }
      .imgTopRight {
        position: relative;
        bottom: 300px;
        right: 300px;
      }
      .imgTopLeft {
        position: relative;
        bottom: 300px;
        right: -300px;
      }
      .imgBottomRight {
        position: relative;
        bottom: -300px;
        right: 300px;
      }
      .imgBottomLeft {
        position: relative;
        bottom: -300px;
        right: -300px;
      }
      img:nth-of-type(2) {
        position: relative;
        bottom: 300px;
        right: 300px;
      }
      .imgBack {
        bottom: 0;
        right: 0;
        transition: 1s;
      }
    }
    .productName {
      padding-top: 18px;
      h4 {
        color: $h4Color;
        font-family: DINProBold;
        margin-bottom: 12px;
        &:hover {
          color: $productNameHover;
          cursor: pointer;
        }
      }
      p {
        font-size: 14px;
        color: $paragraphProDescr;
        margin-top: 0;
      }
    }
  }
}

.form {
  margin-top: 114px;
  margin-bottom: 165px;
  form {
    height: 554px;
    max-width: 950px;
    margin: auto;
    padding: 0 5px;
    padding-top: 20px;
    background: linear-gradient(-45deg, #dcdcdc, #fbfbfb);
    h3 {
      font-size: 30px;
      font-family: DINProBold;
      color: $h3Color;
      text-align: center;
      margin-bottom: 50px;
    }
    .group {
      position: relative;
      max-width: 730px;
      margin: auto;
      margin-bottom: 28px;
      display: flex;
      &:last-of-type {
        input:first-child {
          margin-right: 0;
        }
      }
      
      input {
        flex: 1;
        height: 40px;
        border: 1px solid $formBorder;
        padding-left: 20px;
        &:first-child {
          margin-right: 30px;
        }
      }
      label{
        .type{
          margin-right:15px;
        }
        .date{
          margin-right: 0;
          margin-left: 15px;
        }  
      }
      
      label {
        width: 100%;
        display: flex;
      }
    }
    input {
      // removing the banana background color when using autofill
      &:-webkit-autofill {
        -webkit-box-shadow: 0 0 0px 100px white inset;
        background-color: transparent;
      }
      &[type="date"]::-webkit-inner-spin-button {
        display: none;
      }
      &[type="submit"] {
        font-size: 14px;
        text-transform: uppercase;
        padding: 17px 36px;
        display: block;
        margin: auto;
        margin-top: 65px;
        border: none;
        color: $white;
        background: $formSubmit;
        &:hover {
          background: darken($formSubmit, 20%);
        }
      }
    }
  }
}

footer {
  .container {
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    .rights {
      color: $footerRights;
    }
    .company {
      color: $footerCompany;
      span {
        text-transform: uppercase;
        font-weight: bold;
      }
      img {
        margin-left: 20px;
        position: relative;
        top: 1px;
      }
    }
  }
}

.date-picker-x {
  right: 0;
  &::before {
    left: unset;
    right: 20px;
  }
}

/* ========= CUSTOM SCROLL =========== */

.productList::-webkit-scrollbar {
  height: 10px;
}

/* Track */

.productList::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */

.productList::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */

.productList::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.calendar {
  background: url("../img/form/calendar.png");
  position: absolute;
  top: 10px;
  right: 10px;
  width: 16px;
  height: 16px;
}

@media only screen and (max-width: 933px) {
  header {
    .container {
      flex-wrap: wrap;
      justify-content: center;
      .brand {
        margin-bottom: 20px;
      }
      aside {
        .user {
          text-align: center;
        }
        nav {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
        }
      }
    }
  }
  .slider {
    .swiper-slide {
      .product {
        margin-left: 30px;
      }
    }
  }
}

.toTop {
  width: 48px;
  height: 48px;
  background: $white;
  border: none;
  position: fixed;
  bottom: 15px;
  right: 15px;
  padding-top: 10px;
  padding-left: 15px;
  outline: none;
  cursor: pointer;
  box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 630px) {
  /* For mobile phones: */
  header {
    margin-bottom: 40px;
    .container {
      .brand {
        display: none;
      }
      aside {
        .user {
          .cabinet,
          select,
          .lang {
            display: none;
          }
          .search {
            display: unset;
            position: absolute;
            top: 15px;
            right: 60px;
            input[type="submit"] {
              width: 24px;
              height: 24px;
              z-index: 2;
              background: url("../img/header/magnifyingGlassMobile.png");
              background-size: cover;
            }
          }
          select {
            text-align: center;
          }
        }
        nav {
          padding-top: 0;
          .dropdown {
            display: none;
          }
          .shopCart {
            width: unset;
            position: absolute;
            top: 15px;
            right: 0;
            background: unset;
            img {
              content: url("../img/products/shopping-cartMobile.png");
            }
            .amount {
              &::after {
                content: "0";
                display: inline-block;
                background: $shopBackground;
                font-size: 12px;
                text-align: center;
                border-radius: 50%;
                width: 16px;
                height: 16px;
                position: relative;
                bottom: 14px;
                right: 26px;
              }
            }
            p {
              display: none;
            }
          }
        }
      }
    }
  }
  .slider {
    .swiper-container {
      width: 100%;
      height: 400px;
      .swiper-pagination-bullets {
        right: -20px;
      }
      .swiper-slide {
        .product {
          height: 400px;
          flex-direction: column;
          padding-top: 0;
          margin-left: 0;
          position: relative;
          .productDescription {
            margin-right: 0;
            padding-top: 0;
            width: unset;
            order: unset;
            h2 {
              font-size: 30px;
              margin: 0;
            }
            p {
              margin: 0;
              text-align: justify;
            }
            button {
              position: absolute;
              bottom: 0;
              left: 0;
              right: 0;
              margin-left: auto;
              margin-right: auto;
            }
          }
          .productImg {
            order: unset;
            height: 250px;
            flex: unset;
            img {
              height: 100%;
              width: unset;
              margin-left: 80px;
            }
          }
        }
      }
    }
  }
  .productList {
    flex-wrap: unset;
    justify-content: unset;
  }
  .form {
    margin-bottom: 0;
    form {
      input {
        margin-bottom: 25px;
        &:not(.mobile) {
          display: none;
        }
        &[type="submit"] {
          margin-top: 30px;
        }
      }
      .group {
        margin-bottom: 0;
        flex-direction: column;
        input {
          &:first-child {
            margin-right: 0;
          }
        }
      }
    }
  }
  footer {
    .container {
      flex-direction: column;
      p {
        text-align: center;
      }
    }
  }
}